<!DOCTYPE html>
<html lang="pt-br">
    <%- include('./partes/head.ejs') %>
    <%- include('./partes/menu-top.ejs') %>

    <body>
        <% if(msg !== '') { %>
          <div class="alert alert-primary" role="alert">
            <%= msg %>
          </div>
        <% } %>

        <a class="btn btn-primary" href="/usuarios" role="button">Todos usuarios</a>
        
        <%- include('./partes/form.ejs', { action: '/usuarios/editar/' + usuario._id + "?_method=PUT" }) %>

        <%- include('./partes/footer.ejs') %>
        
    </body>
</html>