<!DOCTYPE html>
<html lang="pt-br">
    <%- include('./partes/head.ejs') %>
    
    <body>
      <%- include('./partes/menu-top.ejs') %>
      <%- include('./partes/alerta.ejs') %>

      <a class="btn btn-primary" href="/usuarios" role="button">Todos usuarios</a>
      
      <%- include('./partes/form.ejs', { action: '/usuarios/editar/' + usuario._id + "?_method=PUT" }) %>

      <%- include('./partes/footer.ejs') %>
      
    </body>
</html>